(
    arena: (
        corners: ( 
            (0.0,   0.0),
            (200.0, 300.0)
        ),
    ),
    camera: (
        height: 200.0,
        width: 200.0,
    ),
    player: (
        accel_running: 36.0,
	accel_walking: 20.0,
	accel_climbing: 18.0,
	decel_ground: 34.0,
	decel_climbing: 32.0,
	max_speed_walking: 27.0,
	max_speed_running: 40.0,
	max_speed_climbing: 32.0,
	max_speed_falling: 40.0,
	min_running_jump_speed: 20.5,
	jump_speed_walking: 93.0,
	jump_speed_running: 120.0,
	jump_speed_climbing: 93.0,
	fall_accel: 90.0
    ),
    ground: (
        elements: [
            (num: 4, pos: (0., 0.)),
            (num: 2, pos: (16., 0.)),
            (num: 4, pos: (32., 0.)),
            (num: 5, pos: (48., 0.)),
            (num: 9, pos: (64., 0.)),
            (num: 7, pos: (80., 0.)),
            (num: 8, pos: (96., 0.)),
            (num: 9, pos: (112., 0.)),
            (num: 5, pos: (128., 0.)),
            (num: 1, pos: (144., 0.)),
            (num: 3, pos: (160., 0.)),
            (num: 7, pos: (176., 0.)),
            (num: 4, pos: (192., 0.)),
            (num: 5, pos: (208., 0.)),
            (num: 2, pos: (224., 0.)),
            (num: 1, pos: (240., 0.)),

            (num: 4, pos: (112., 32.)),
            (num: 3, pos: (128., 32.)),
            (num: 18, pos: (144., 32.)),
            (num: 5, pos: (160., 32.)),
            (num: 3, pos: (176., 32.)),
            (num: 1, pos: (192., 32.)),
            (num: 9, pos: (208., 32.)),
            (num: 4, pos: (224., 32.)),
            (num: 2, pos: (240., 32.)),
            (num: 5, pos: (256., 32.)),

            (num: 29, pos: (144., 32.)),
            (num: 27, pos: (144., 48.)),
            (num: 23, pos: (144., 64.)),
            (num: 25, pos: (144., 80.)),
        ]  
    ),
)
