(
    arena: (
        corners: ( 
            bottom_left: [0.0,   0.0],
            top_right: [300.0, 300.0]
        ),
    ),
    camera: (
        height: 200.0,
        width: 200.0,
    ),
    player: (
        accel_running: 36.0,
	accel_walking: 20.0,
	accel_climbing: 36.0,
	decel_ground: 34.0,
	decel_climbing: 32.0,
	max_speed_walking: 27.0,
	max_speed_running: 80.0,
	max_speed_climbing: 32.0,
	max_speed_falling: 120.0,
	min_running_jump_speed: 30.5,
	jump_speed_walking: 230.0,
	jump_speed_running: 290.0,
	jump_speed_climbing: 230.0,
	fall_accel: 500.0
    ),
    items: (
        elements: [
            (sprite_num: 1,
             kind: Collectable(KiArmor),
             position: [48., 32.],
             corners: (bottom_left: [48., 32.],
                       top_right:   [64., 48.])),
            (sprite_num: 0,
             kind: Climbable,
             position: [128., 48.],
             corners: (bottom_left: [134., 48.],
                       top_right:   [138., 64.])),
            (sprite_num: 0,
             kind: Climbable,
             position: [128., 64.],
             corners: (bottom_left: [134., 64.],
                       top_right:   [138., 80.])),
            (sprite_num: 0,
             kind: Climbable,
             position: [128., 80.],
             corners: (bottom_left: [134., 80.],
                       top_right:   [138., 96.])),
            (sprite_num: 0,
             kind: Climbable,
             position: [128., 96.],
             corners: (bottom_left: [134., 96.],
                       top_right:   [138., 112.])),
            (sprite_num: 0,
             kind: Climbable,
             position: [128., 112.],
             corners: (bottom_left: [134., 112.],
                       top_right:   [138., 128.])),
            (sprite_num: 0,
             kind: Climbable,
             position: [128., 128.],
             corners: (bottom_left: [134., 128.],
                       top_right:   [138., 144.])),
        ]
    ),
    ground: (
        elements: [
            (sprite_num: 4, pos: [0., 0.]),
            (sprite_num: 2, pos: [16., 0.]),
            (sprite_num: 4, pos: [32., 0.]),
            (sprite_num: 5, pos: [48., 0.]),
            (sprite_num: 9, pos: [64., 0.]),
            (sprite_num: 7, pos: [80., 0.]),
            (sprite_num: 8, pos: [96., 0.]),
            (sprite_num: 9, pos: [112., 0.]),
            (sprite_num: 5, pos: [128., 0.]),
            (sprite_num: 1, pos: [144., 0.]),
            (sprite_num: 3, pos: [160., 0.]),
            (sprite_num: 7, pos: [176., 0.]),
            (sprite_num: 4, pos: [192., 0.]),
            (sprite_num: 5, pos: [208., 0.]),
            (sprite_num: 2, pos: [224., 0.]),
            (sprite_num: 1, pos: [240., 0.]),
            (sprite_num: 4, pos: [256., 0.]),
            (sprite_num: 9, pos: [272., 0.]),
            (sprite_num: 4, pos: [288., 0.]),

            (sprite_num: 4, pos: [112., 32.]),
            (sprite_num: 3, pos: [128., 32.]),
            (sprite_num: 18, pos: [144., 32.]),
            (sprite_num: 5, pos: [160., 32.]),
            (sprite_num: 3, pos: [176., 32.]),
            (sprite_num: 1, pos: [192., 32.]),
            (sprite_num: 9, pos: [208., 32.]),
            (sprite_num: 4, pos: [224., 32.]),
            (sprite_num: 2, pos: [240., 32.]),

            (sprite_num: 18, pos: [128., 144.]),
            (sprite_num: 18, pos: [128., 160.]),
            (sprite_num: 18, pos: [128., 176.]),
            (sprite_num: 18, pos: [128., 192.]),

            (sprite_num: 29, pos: [144., 32.]),
            (sprite_num: 27, pos: [144., 48.]),
            (sprite_num: 23, pos: [144., 64.]),
            (sprite_num: 25, pos: [144., 80.]),
        ]  
    ),
)
